streamlit
pandas
numpy
matplotlib
seaborn
plotly
altair
scikit-learn
joblib
chardet
nltk
wordcloud
Pillow
gTTS
SpeechRecognition
pydub
soundfile
librosa
sentence-transformers
umap-learn
torch
transformers
textblob
spacy
openpyxl
xgboost
lightgbm
tensorflow
keras
tqdm
beautifulsoup4
requests
networkx
statsmodels
pdfkit
python-docx
pypandoc
reportlab




